
@{
    ViewBag.Title = "Alojamento";
    Layout = "~/Views/Shared/_LayoutAnonimo.cshtml";
}

<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/responsive.css" rel="stylesheet" />

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Alojamento Normal</h2>
            <p>W</p>
        </div>
        <div class="row accomodation_two">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" />
                        <a href="#" class="btn theme_btn button_hover">Reserve já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Quarto de Luxo Duplo</h4></a>
                    <h5>25.000kz<small>/noite</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserve já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Quarto de luxo simples</h4></a>
                    <h5>20.000kz<small>/noite</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserve já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Suíte Lua-de-mel</h4></a>
                    <h5>75.000kz<small>/noite</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserve já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Quarto Economico Duplo</h4></a>
                    <h5>20.000kz<small>/noite</small></h5>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
