
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAnonimo.cshtml";
}


<!--================ Area Alojamento  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Alojamento EstádiaHot</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room1.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserva já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Quarto de Luxo Duplo</h4></a>
                    <h5>25.000kz<small>/noite</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserva já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Quarto de Luxo para Solteiro</h4></a>
                    <h5>20.000kz<small>/noite</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserva já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4"> Suíte de Lua-de-Mel</h4></a>
                    <h5>75.000kz<small>/noite</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Reserva já</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Econômico Duplo</h4></a>
                    <h5>20.000<small>/noite</small></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Area Alojamento  =================-->
<!--================ Area Instalações =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Instalações EstádiaHot</h2>
            <p>Fique que totalmente apaixonado com um ecosistema amigável.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurante</h4>
                    <p>Saboreie o melhor da cozinha nacional e internacional, com os melhores Chef's.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Clube de Jogos</h4>
                    <p>Temos a sua disposição pavilhões para jogar Futebol, Basquete, Ténis...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Piscina</h4>
                    <p>Você toma só banho e não me complica pah!.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>Rent a Car</h4>
                    <p>Temos dos mais variados carros disponiveis para você alugar.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Ginásio</h4>
                    <p>Mantenha-se em forma os melhores equipamentos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Bar</h4>
                    <p>Mate a sua cede com uma bebida refrescante.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--================ Area Instalações =================-->
<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Sobre Nós <br>Nossa História<br>Missão & Visão</h2>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                    @*<a href="#" class="button_hover theme_btn_two">Request Custom Price</a>*@
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/image/about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->
<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Publicações recentes do blog</h2>
            <p>Um paragráfo será adicionado aqui </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="image/blog/blog-1.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Travel</a>
                            <a href="#" class="button_hover tag_btn">Life Style</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">Low Cost Advertising</h4></a>
                        <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                        <h6 class="date title_color">31st January,2018</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="image/blog/blog-2.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Travel</a>
                            <a href="#" class="button_hover tag_btn">Life Style</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">Creative Outdoor Ads</h4></a>
                        <p>Self-doubt and fear interfere with our ability to achieve or set goals. Self-doubt and fear are</p>
                        <h6 class="date title_color">31st January,2018</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="image/blog/blog-3.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Travel</a>
                            <a href="#" class="button_hover tag_btn">Life Style</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">It S Classified How To Utilize Free</h4></a>
                        <p>Why do you want to motivate yourself? Actually, just answering that question fully can </p>
                        <h6 class="date title_color">31st January,2018</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Recent Area  =================-->